.fondo {
  background-image: url(media/ba1.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
.fondo1 {
  background-image: url(media/ba2.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
.fondo2 {
  background-image: url(media/ba3.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
a {
  color: #000000; 
  text-decoration: dotted;
}
.btn-personalizado {
  background-color: #52da52;
  border-color: #52da52;
  color: aliceblue;
  border-radius:10px;
}
#barra_abajo{
  background: linear-gradient(to left, rgb(15, 30, 56), rgb(1, 14, 58))
}
.card-img-top{
  border-radius: 15px;
}

#trainee {
  border-radius: 0;
  border-color:#628edf ;
  text-align: center;
}
#junior{
  border-radius: 0;
  border-color:#c9b92a ;
  text-align: center;
}
#estudiante{
  border-radius: 0;
  border-color:#2a47c9 ;
  text-align: center;
}
.subtitulo{
color: #b6b4b4;
}
.text{
  text-align: center;
}
#resu{
  background-color: #7799c53b;

}